@import "mixins";

$color-primary: rgb(36, 24, 82);
$color-secondary: rgb(11, 90, 251);
$background-color: rgb(255, 255, 255);
.container {
  padding: 0 2rem;
}

.main {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;

  b {
    color: $color-primary;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
}

.title {
  text-align: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  @include laptop() {
    width: 100%;
    flex-direction: column;
  }
}

.card {
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  @include mobile() {
    width: 100%;
  }

  @include desktop() {
    width: 300px;
  }

  h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
  p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }
}

.card:hover,
.card:focus,
.card:active {
  color: $color-primary;
  border-color: $color-primary;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.header {
  display: flex;
  align-items: center;

  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: $color-secondary;
  position: sticky;
  top: 0;
  @include mobile() {
    flex-direction: column;
  }
  a {
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
}

.actions {
  display: flex;
  @include mobile() {
    flex-direction: column;
  }
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.navbar {
  display: flex;
  flex-direction: row;

  left: 0.5rem;
}
.navitem {
  margin: 0 0.5rem;
}

.searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  padding: 0;
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  > * {
    margin: 1rem 0;
  }
  @include mobile() {
    max-width: 80%;
  }
  @include laptop() {
    width: 100%;
  }
}

.talk-card {
  ::after {
    margin-bottom: 1rem;
  }
  padding: 1.5rem;
  word-wrap: break-word;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  min-width: 100%;
  h2 {
    margin: 0 0 0.5rem 0;
  }
  h5 {
    margin: 0;
  }
  span {
    font-size: 0.8rem;
    color: #999;
  }
}
